*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; !important
    background-color: bisque;
    box-sizing: border-box;

}
body
{
    /* màu background web */
    background-color: rgb(10, 12, 37);
}

/* định dạng  */
:root{
    --text-color:white; /* màu chữ */
}



/* content */
    #content_ticket{
        margin-top: 80px;
        margin-right: 2%;
        margin-left:2%;
    }
    .title_page{
        text-align: center;
        color: var(--text-color);
    }
    .title_page #title_cost{
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
    }
    .title_page img{
        margin-bottom: 25px;
    }
    #title_sub{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        opacity: 0.6;
    }
    .table_label{
        font-size: 30px;
        margin-left: 20px;
        font-weight: 500;
    }

/* button link */
    .tab {
        text-align: center ;
        overflow: hidden;
        
      }
    .tab .f2{
        font-weight:700;
        color: rgb(10, 116, 238);
    }
    .tab .f3{
    
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: #dd112c;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    }
      
      /* Style the buttons that are used to open the tab content */
      .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        margin:50px 0;
        font-size: 50px;
      }
      
      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #ddd;
      }
      
      /* Create an active/current tablink class */
      .tab button.active {
        background-color: rgb(239, 240, 231,0.3);
        border-bottom: 5px solid rgb(241, 245, 1);
      }

      /*  */
    .tabcontent{
        display: none;
    }
    
/* table 2D */
    .table_2D{
        text-align: center;
        margin: 30px;
    }
    .table_2D img{
        
        width: 70%;
        border-radius: 20px;
    }
/* notice  2d */
    .notice_2d{
        color: var(--text-color);
        margin: 5px 20px;
        font-weight: 200;
        
    }
    .notice_2d span{
        color: red;
        font-weight: 400;
    }

/* table 3D */
    .table_3D{
        text-align: center;
        margin: 20px;
    }
    .table_3D img{
        width: 70%;
        border-radius: 20px;
    }

/* notice */
.col_half
{
    width: 50%;
    float    : left;
}

.ticket_big
{
    background-image: url('../images/ticket-big.png');
    background-size: 90%;
    background-repeat: no-repeat;
    
}

.text_in
{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 250px;
    font-size: 14.5px;
}

.holiday
{
    color: var(--text-color);
}

.holiday b
{
    color: rgb(250, 193, 7);
}

.holiday > p , 
.text_in > p 
{
    margin-bottom: 22px;
}

 /*  map */
.map
{
    text-align: center;
    
}
.map img
{
    width: 60%;
    height: 450px;
    border-radius: 10px;
    height: 450px;
}


/* responsive */
@media (max-width : 1023px){
    .col_half{
        width: 100%;
    }
    .text_in{
        color: red;
        padding-top: 2%;
        padding-left: 3%;
        font-size: 14.5px;
        padding-right:0;
    }
    .ticket_big{
        background-image: none;
    }
}
