/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) 
{
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.wrapper{
	width: 85%;
	background-color: #7F7E7E;
	margin: 0 auto;
}
/*begin header*/
.head__info {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.head__phone {
  padding: 15px 10px;
  font-weight: bolder;
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .head__phone {
    text-align: right;
    font-size: 22px;
    padding: 35px 0px;
  }
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .head__phone {
    text-align: right;
    font-size: 20px;
    padding: 15px 0px;
  }
}
.head__nav {
  background-color: #afadad;
  padding: 1px;
}
.head__nav ul {
  padding: 0;
  
}
.head__nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  height: 100%;
}
.head__nav ul li:hover {
  background-color: black;
}
.head__nav ul li a:hover {
  color: white;
} 
.head__nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
/*end header*/
.main{
	width: 100%;
	background-color: #565454;
	overflow: auto;
}
.hotnews{
	width: 100%;
	
}
.imgnews{
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}
.imgnews img{
	width: 100%;
}
.textnews{
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}
.title{
	line-height: 30px;
	background-image: linear-gradient(to bottom, #FCD917, #FBEA9D)
}

.content{
	color: white;
	background-image: linear-gradient(to bottom right, #989797, #383838)
}

.news{
	clear: both;
}

.item{
	float: left;
	box-sizing: border-box;
	padding: 5px 5px;
}
.item img{
	width: 100%;
}
.frmcomment{
	margin-top: 10px;
	color: white;
}