*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.logo-img{
    width: 50px;height: 50px;

}
header{
    height: 70px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(174, 189, 202,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.8);
    transition: 0.4s;
    z-index: 10; 
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    padding: 15px 30px;
}
.nav-item:hover{
    
}
.nav-link{
    font-size: 1.6rem;
    line-height: 1.4;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}
.nav-link i{
    margin-right: 8px;
}
.search-box{
    padding: 6px 15px;
    background-color: #fff;
    border-radius:3px;
}
.search-input{
    outline: none;
    border: none;
}
.search-btn{
    padding: 8px 10px;
    background-color: #fff;
    border:none
}
.search-btn i{
    color: #000;
}
.menu-bar,.menu-close{
    display: none;
    font-size: 1.6rem;
}
.active{
    display: block;
}
/* @media  (max-width: 768px){
    .mobile-menu{
        display: none;
        position: absolute;
        height: 0;
        width: 100%;
        top: 0;
        flex-direction: column;
        background-color: rgba(174, 189, 202,0.7);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
    .search-box{
        display: none;
    }
    .menu-bar,.menu-close{
        display: block;
    }
} */