@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


*
{
  padding: 0;
  margin: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #e2d7aa;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
    /* line-height: 24px; */
    text-align: center;
}

body > div.img-container > img
{
    width: 1100px;
    height: 450px;
}

body > div.img-container 
{
    /* width: 1600px; */
    height: 450px;
    margin-top: 65px;
    margin: 0 auto;
}

  h1 
  {
    font-size: 60px;
    font-family:'Indie Flower',cursive;
    letter-spacing: 5px; 
    text-align: center;
    margin-top: 65px;
  }

  a 
  {
    text-decoration: none;
  }

  nav 
  {
    margin: 30px;
    text-align: center;
  }
  
  nav a 
  {
    text-decoration: none;
    font-size: 28px;
    color: #000000; 
  }

  article div
  {
    text-align: center;
    display: inline-block;
  }

  nav ul li 
  {
    list-style: none;
    display: inline;
    padding: 0 12px 0 12px;
  }

  nav ul li:first-of-type a,
  nav ul li:last-of-type a 
  {
    padding-left: 0;
    color: #0a2d4a;
    font-weight: bold; }
  article {
    width: 370px;
    display: inline-block;
}

main 
{
    margin-top: 30px;
}

main > article img 
{
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

p 
{
    width: 345px;
    text-align: justify;
    margin-bottom: 20px ;
}

article img + p:first-letter 
{
  font-family:EucrosiaUPC sans-serif;
  text-transform: uppercase;
  font-size: 40px;
}

.readmore a, .comments a 
{
  background: url(/bg2.jpg);
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

footer 
{
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
}

article p:last-of-type span:first-of-type a::before 
{
  content: url("/comment.png");
  position: relative;
  padding: 10px;
  right: 5px;
  top: 7px;
}

article p span + span
{
    margin-left: 10px;
}                  
