USE [master]
GO
/****** Object:  Database [BKCAD_KhachHang]    Script Date: 16/02/2024 2:40:12 CH ******/
CREATE DATABASE [BKCAD_KhachHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BKCAD_KhachHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BKCAD_KhachHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BKCAD_KhachHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BKCAD_KhachHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BKCAD_KhachHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BKCAD_KhachHang]
GO
/****** Object:  Table [dbo].[tblQLKH]    Script Date: 16/02/2024 2:40:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQLKH](
	[maKhach] [int] IDENTITY(1,1) NOT NULL,
	[tenKhach] [nvarchar](30) NULL,
	[diaChi] [nvarchar](50) NULL,
	[dienThoai] [nvarchar](10) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_tblQLKH] PRIMARY KEY CLUSTERED 
(
	[maKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblQLKH] ON 

INSERT [dbo].[tblQLKH] ([maKhach], [tenKhach], [diaChi], [dienThoai], [isDeleted]) VALUES (1, N'Cao Thai Son', N'HCM', N'0982728434', 1)
INSERT [dbo].[tblQLKH] ([maKhach], [tenKhach], [diaChi], [dienThoai], [isDeleted]) VALUES (2, N'Xuân Diệu', N'Hồ Gươm', N'113', NULL)
INSERT [dbo].[tblQLKH] ([maKhach], [tenKhach], [diaChi], [dienThoai], [isDeleted]) VALUES (4, N'Hoang', N'HN', N'0979789', NULL)
SET IDENTITY_INSERT [dbo].[tblQLKH] OFF
GO
USE [master]
GO
