
.header-meta-list{
  background-color: white;
}

.header-meta-list img{
  float: left;
  margin: 0px 0px 2px 10px;
}

.header-meta-list p{
  float: right;
  margin: 40px 35px 0px 0px;
  font-weight: bold;
  color: #1f1f1f;
}

#navbar{
  clear: both;
  background-image: linear-gradient(#888, #fff);
  box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  height: 50px;
  line-height: 50px;
}

#navbar ul li{
  display: inline;
  padding: 10px 0;

}

#navbar ul li a{
  font-size: 12px;
  padding:0 15px;
  font-weight: bold;
  text-decoration: none;
  color: #666666;
  border-right: 1.5px solid grey;
}

#navbar ul li:hover{
  background-color: #888;
}
#navbar ul li:first-child a{
  border-left: 1.5px solid #888;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bold{
  font-weight: bold;
}

h2{
  background-color: #fed259;
  font-weight: bold;
  color: black;
  font-size: 11px;
  padding: 5px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#building{
  float: left;
  margin: 15px 15px 0px 15px;
}

#about{
  float: left;
  width: 550px;
  height: 330px;
  background-color: grey;
  color: white;
  margin: 15px 0px 0px 10px;
  font-size: 12px;
}

h3{
  font-size: 14px;
  font-weight: bold;
  margin: 5px 10px;
}

#about p{
  margin: 13px;
  font-size: 14px;
}

#midline {
  clear: both;
}

#midline img {
  float: left;
  margin: 1px 20px;
}

#midline p {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(244, 244, 77);
  padding: 5px 10px;
}

.box {
  float: left;
  width: 246px;
  height: 260px;
  border: 1px solid grey;
  margin: 10px 0px 10px 20px;
  font-size: 10px;
   background-image:linear-gradient(to bottom, #fff, #f5c97d)
 }
.box img{
  max-width: 246px;
}
.box p {
  margin: 5px 10px;
}
.color{
    background-image:linear-gradient(to bottom, #fff, #f5c97d)
}

.box a {
  float: right;
  margin-right: 15px;
  background-color: #dab44b;
  color: black;
  text-decoration: none;
  padding: 2px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  border-bottom-right-radius: 180px;
  border-top-right-radius: 180px;
}
*{
  padding: 0px;
  margin: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul{
  list-style: none;
}

body{
  line-height: 1.5;
  font-family: "arial", "sans-serif";
  background-color: #1f1f1f;
}
